<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>Expense Categories</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of receipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
