<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Accounts</h1>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.receipts.all|length }}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
